.sidbar {
    background-color: #333;
   padding: 20px;
   margin-bottom: 50px;
}

.addList button {
    background-color:#999 ;
    width: 300px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.addList button:hover {
    background-color: rgb(252, 252, 252);
}